{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body>
    <h2>Reset your password</h2>
    <form method="post" action="{% url 'reset' %}">
        {% csrf_token %}
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname" placeholder="Enter your username" maxlength="50" required>

        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter new password" maxlength="50" required>

        <input type="submit" value="Reset Password">
        <div>{{ msg }}</div>
    </form>
    <a href="{% url 'login' %}">Back to Login</a>

    <script src="{% static 'js/password_reset.js' %}"></script>

</body>
</html>
